In [5]:
import pandas as pd
import numpy as np

In [6]:
import csv

In [8]:
data = r"C:\Users\ayode\Dataset.csv"
data = pd.read_csv(data)
data.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders,Unnamed: 9,Unnamed: 10
0,2016-W45,Desktop,Desktop,APAC,South Korea,8-14 days,Algeria,$-608,-3,NaN,NaN
1,2016-W45,Desktop,Desktop,APAC,South Korea,+90 days,Andorra,$-512,-2,NaN,NaN
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,$103,1,NaN,NaN
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,$396,1,NaN,NaN
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,$373,1,NaN,NaN

In [9]:
#checking for null data 
data.isnull().sum()

Week                                 0
Mobile Indicator Name                0
Platform Type Name                   0
Super Region                     20265
Country Name                         0
Booking Window Group                 0
Property Country                     0
 Net Gross Booking Value USD         0
Net Orders                           0
Unnamed: 9                       73688
Unnamed: 10                      73688
dtype: int64

In [11]:
#Checking for duplicates
dupRows = data.duplicated().sum()
print("there are " + str(dupRows) + " duplicated rows in the dataframe.")

there are 0 duplicated rows in the dataframe.